<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{{contaner.head_all}}}
    <!-- OR
    {{{contaner.head_meta}}}
    <title>Title</title>
    {{{contaner.head_title}}}
    {{{contaner.head_link}}}
    {{{contaner.head_script}}}
    -->

</head>
<body>
    <header>
        {{{contaner.body_header_content}}}
        <nav>{{{contaner.nav_content}}}</nav>
    </header>

    <article>
        <header>
            {{{contaner.article_header_content}}}
        </header>
        <!--<section>{{{contaner.article_section_top}}}</section>-->
        <section>{{{contaner.[page]}}}</section>
        <!--<section>{{{contaner.article_section_bottom}}}</section>-->
        <footer>
            {{{contaner.article_footer_content}}}
        </footer>
    </article>

    <aside>
        <section>{{{contaner.aside_section_top}}}</section>
        <section>{{{contaner.aside_section_main}}}</section>
        <section>{{{contaner.aside_section_bottom}}}</section>
    </aside>

    <footer>
        {{{contaner.body_footer_content}}}
    </footer>
</body>
</html>
