<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        {{contaner:header_content}}
        <nav>{{contaner:nav_content}}</nav>
    </header>

    <article>
        {{contaner:{page}}}
    </article>
</body>
</html>
